@media (max-width: 1366px) {
  .container {
    max-width: 966px;
  }
  .promo__hero {
    background-size: 550px;
    background-position: top 100px right -200px;
  }
  .category,
  .price {
    font-size: 14px;
  }
  .rating {
    margin-right: 15px;
  }
}

@media (max-width: 1030px) {
  .promo__hero {
    background-size: 500px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo__hero {
    background-size: 500px;
  }
  .promo__title {
    font-size: 30px;
  }
  .promo__text {
    font-size: 15px;
    max-width: 20rem;
  }
  .card {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .rating {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-title {
    font-size: 18px;
  }
  .promo__title {
    font-size: 28px;
    line-height: 30px;
  }
  .promo__text {
    font-size: 12px;
    max-width: 16rem;
    line-height: 1rem;
  }
}

@media (max-width: 578px) {
  .container {
    width: 90%;
  }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input-address {
    margin-top: 15px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .promo__hero {
    background-image: none;
  }
  .promo__title {
    font-size: 28px;
    line-height: 30px;
  }
  .promo__text {
    font-size: 16px;
    max-width: 22rem;
    line-height: 1rem;
  }
  .restaurants__title {
    font-size: 25px;
  }
  .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card__image {
    width: 100%;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 15px;
  }
  .social-links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 480px) {
  .promo__title {
    font-size: 32px;
    line-height: 30px;
  }
  .promo__text {
    font-size: 20px;
    line-height: 2rem;
  }
  .restaurants__heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn {
    min-height: 40px;
  }
  .btn-text {
    display: none;
  }
  .btn__icon {
    margin: 0;
  }
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 20px;
  }
  .footer-nav {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=media.css.map */